.page {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.welcome {
	font-size: 1em;
}

.instructions {
	font-size: 0.5em;
}

.root-input {
	margin-top: 3vh;
	padding-top: 1vh;
	border-radius: 10px;
}
